<?xml version="1.0"?>
<config>
  <modules>
    <Infoicon_Catalogpermission>
      <version>0.1.0</version>
    </Infoicon_Catalogpermission>
  </modules>
  <global>
    <helpers>
      <catalogpermission>
        <class>Infoicon_Catalogpermission_Helper</class>
      </catalogpermission>
    </helpers>
	<blocks>
	  <catalogpermission>
		<class>Infoicon_Catalogpermission_Block</class>
	  </catalogpermission>
			<catalog>
				<rewrite>
					<product_list>Infoicon_Catalogpermission_Block_Catalog_Product_List</product_list>
				</rewrite>
			</catalog>
	</blocks>
	<models>
	  <catalogpermission>
		<class>Infoicon_Catalogpermission_Model</class>
		<resourceModel>catalogpermission_mysql4</resourceModel>
	  </catalogpermission>
	  <catalogpermission_mysql4>
		<class>Infoicon_Catalogpermission_Model_Mysql4</class>
		<entities>		  
			  <customerproduct>
				<table>customerproducts</table>
			  </customerproduct>
        </entities>
	  </catalogpermission_mysql4>
	</models>
	<resources>
	  <catalogpermission_setup>
		<setup>
		  <module>Infoicon_Catalogpermission</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </catalogpermission_setup>
	  <catalogpermission_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </catalogpermission_write>
	  <catalogpermission_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </catalogpermission_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <catalogpermission>
	    <use>admin</use>
		<args>
		  <module>Infoicon_Catalogpermission</module>
		  <frontName>admin_catalogpermission</frontName>
		</args>
	  </catalogpermission>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <catalogpermission module="catalogpermission">
		<title>Catalogpermission</title>
		<sort_order>100</sort_order>
		<children>
		  <customerproduct module="catalogpermission">
		    <title>Manage Customerproduct</title>
			<sort_order>0</sort_order>
			<action>admin_catalogpermission/adminhtml_customerproduct</action>
		  </customerproduct>
		</children>
	  </catalogpermission>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<catalogpermission translate="title" module="catalogpermission">
			  <title>Catalogpermission</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <customerproduct translate="title">
			<title>Manage Customerproduct</title>
			<sort_order>0</sort_order>
		  </customerproduct>
			  </children>
			</catalogpermission>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<catalogpermission>
		  <file>catalogpermission.xml</file>
		</catalogpermission>
	  </updates>
	</layout>
  </adminhtml>
</config> 